
.header {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:antiquewhite;
    border: grey solid 2px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style-type: none;
}
